{% extends 'base.html.twig' %}

{% block title %}Blague{% endblock %}

{% block body %}
    <h1>Blague</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blague.id }}</td>
            </tr>
            <tr>
                <th>Blague</th>
                <td>{{ blague.blague }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blague_index') }}">back to list</a>

    <a href="{{ path('app_blague_edit', {'id': blague.id}) }}">edit</a>

    {{ include('blague/_delete_form.html.twig') }}
{% endblock %}
